{% extends 'base.html' %}
{% block title %}Blogs Categories{%endblock%}

{% block content %}
    <h1>Blog Categories</h1>
	<h5><a href="{% url 'add_category' %}">Click</a> to add a new Category</h5>
	<br>
    {% if cat_menu_list %}
	    {% for item in cat_menu_list %}
				<h5><a class="dropdown-item" href="{% url 'category' item|slugify %}">{{ item }}</a></h5>

	    {% endfor %}
	{% else %}
		<br><br>
		<h5>No Categories</h5>
		<a href="{% url 'add_category' %}">Add One</a>

	{% endif %}
<br><br>
{% endblock %}